html, body {
    margin: 0 auto;
    font-size: 1.125em;
 }
header {
    background-color: #190707;
    color: white;
    height: 12%;
    width: 100%;
    position: absolute;
    z-index: 10;
 }
.menu {
    float: right;
    list-style: none;
}
header .menu li {
   float: left;
   font-size: 18px;
   padding: 20px 10px 20px 10px;
}
header .menu li a {
    color: initial;
    text-decoration: initial;
    color: white;
}
li:hover {
    background-color: #01AAEA;
}

#img-fundo {
    background-image:url("diversity.jpg");
    background-repeat: no-repeat;
    height:98vh;
    text-align:center;
    background-size:cover;
    border-left: 2.0vw #4B610B solid;
}

#titulo {
    color: #EFFBFB;
    padding-top: 20%;
    font-size: 2.0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;    
    font-size: 2em;
}

#ods {
    color: #000000;
    text-transform: uppercase;
    font-family: cursive;
    border: 0.1rem  solid;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    background-color: #F6524A;
    text-decoration: none;
}
#ods:hover {
    background-color:#01acea;
}
.linha {
    width: 35%;
    size: 8; 
    color: #BE81F7;
}
.linhas {
    width: 10%;
    size: 7;
    color: #848484;
}
.centralizado {
    text-align: center;
    font-weight: bold;
    text-transform: initial;
    font-size: 1.9rem;
}

h3{
    clear: both;
    font-size: 4vh;
    text-align: center;
    font-weight: bold;
}

#diversidade {
    clear: both;
    padding-top: 2%;
    border-left: 2.0vw #26464b solid;
    height: 90vh;
}

.esquerdo{
    float:left;
    padding-left: 2%;
    width: 40%;
}

.direito{
    float:right;
    padding-right: 5%;
    width: 40%;
}

.video {
    padding:3% 4% 2% 4%;
    text-align: center;

}

.texto {
    padding:1% 5% 2% 1%;
    font-size: 3vh;
    text-align: justify;
}

#inclu {
    clear:both;
    padding: 2%;
    border-left: 2.0vw #4B610B solid;
    height: 90vh;
}

#tipo {
    clear: both;
    padding: 4% 2% 4% 2%;
    border-left: 2.0vw #26464b solid;
    height: 60vh;    
}
.tipos {
    clear: both;
    display: block;
}

#grupos {
    clear:both;
    padding: 4% 2% 4% 2%;
    border-left: 2.0vw #4B610B solid;
    text-align: center;
    height: 60vh;
    display: block;
}

.icone {
    width: 20%;
    float: left;
    padding: 7%;
    padding-left: 5%;
}

.list{
    float: left; 
    font-size: 4vh;
    width: 30%; 
}

#desigual{
    clear:both;
    padding: 4% 2% 4% 2%;
    text-align: center;
    border-left: 2.0vw #26464b solid;
    height: 50vh;
}

.imagem {
    clear: both;
    width:90%;
    padding: 3%;
    text-align: center;
    border: #26464b solid 5px ;
   }

#homofobia{
    clear:both;
    padding: 4% 2% 4% 2%;
    border-left: 2.0vw #4B610B solid;
    text-align: center;
    height: 80vh;
}

#reportagem{
    clear:both;
    padding: 4% 2% 4% 2%;
    text-align: center;
    height: 80vh;
    border-left: 2.0vw #26464b solid;
    
}

#mim {
    clear:both;
    padding: 4% 2% 4% 2%;
    background-color: #A9F5F2;
    border-left: 2.0vw #4B610B solid;
    height: 90vh;
}

#euzinha{
        padding-left: 5%;
        float: left;
        text-align:center;
        width: 40%;
        font-size: 20px;
}

#euu {
    padding-right: 5%;
    padding-top: 20px;
    width: 40%;
    border-radius: 100%;
}
   
footer {
    clear: both;
    padding: 4% 2% 4% 2%;
    font-family: cursive 15px;
    text-align: center;
    background-color: #A9E2F3;
    color: #27070f;
    height: 100%;
    border-left: 2.0vw #26464b solid;
    }

#site {
    clear: both;
    text-align: center;
    line-height: 0,5%;
}

#contatos {
    clear: both;
}

#creditos {
    clear: both;
 }

#icone1 {
    clear: both;
    width: 3%;
}
    
h4 {
    font-size: 20px;
    color: #0A2229;
}

.link {
    text-decoration: initial;
}

a{
    padding: 0.5%;
    letter-spacing: 1.5;
}

@media screen and (min-width: 400px) and (max-width: 600px) {

body{
    background-color: whitesmoke;
    width: 100%;     
    clear: left;
    clear: right;
}

div{ 
    float: none;
    clear: both;
    display: block;
    text-align: justify;  
 }

 section{
    float: none;
    text-align: justify;  
 }
.menu{
    visibility:hidden;
}

}
/*

.direito, .esquerdo {
    width: 100%;
    float: none;
    text-align: justify;
}
#diversidade, #inclu, #desigual, #homofobia, #reportagem, #grupos, #tipo, #mim, #site{
    width: 100% important; 
    float: none;
    text-align: center;
    display: block;
}

.icone .imagem .texto .tipos .video{
    float: none;
    width: 100%;
    widows: initial;
}*/
